@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .global-table-container thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f9fafb; /* default header background */
    background-clip: padding-box;
  }
}
